services:
  linkding:
    networks:
      - traefik_shared

    container_name: linkding

    image: sissbruecker/linkding:1.44.1-plus-alpine

    volumes:
      - ${HOME}/.local/state/docker-compose/linkding/data:/etc/linkding/data

    environment:
      LD_ENABLE_AUTH_PROXY: "True"
      LD_AUTH_PROXY_USERNAME_HEADER: "HTTP_REMOTE_USER"

    restart: always

    labels:
      - traefik.enable=true
      - traefik.docker.network=traefik_shared
      - traefik.http.routers.links.rule=Host(`links.laptop`)
      - traefik.http.services.links.loadbalancer.server.port=9090
      - traefik.http.routers.links.middlewares=auth-david

networks:
  traefik_shared:
    external: true
